$bg: #0f172a;
$title: #17baec;
$bg-card: #1e293b;
$white: #e5e7eb;
$text-card: #9ca3af;
$astro: #701a75;
$web: #a3e635;
$tailwind: #38bdf8;
$ts: #fb7185;
$next: #a78bfa;
$blog: #34d399;
$js: #facc15;
$bs: #818cf8;